html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

h1, h2, h3, p {
  margin: 1rem;
}

p.caption {
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

iframe {
  display: block;
  border: none;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

#controls {
  overflow: hidden;
  background: #eee;
  margin: 0 auto;
}

  #controls > * {
    margin: 8px;
    cursor: pointer;
    opacity: 0.5;
  }

  #controls > *:hover {
    opacity: 1;
  }
#footer{
  position: absolute;
  z-index: 5;
  /*width: 100%;*/
  bottom: 11px;
  padding-left: 16px;
  color:white;
  /*padding: -0.25rem 0.5rem;*/
}
#contact{
    position: absolute;
    z-index: 5;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    margin: 2%;
    margin-left:2.5%;
    border-radius: 5%;
    text-align: left;
  /*padding: -0.25rem 0.5rem;*/
}
.form-control{
    color: black!important;
    background-color: lightgray!important;
    margin-bottom: 6%;
}
.white-text{
  font-family: 'Roboto', sans-serif!important;
}
/*#toggleplay {
  float: left;
  background: url('img/ic_pause_black_24dp.svg');
  width: 24px;
  height: 24px;
}

  #toggleplay.paused {
    background: url('img/ic_play_arrow_black_24dp.svg');
  }

#togglemute {
  float: right;
  background: url('img/ic_volume_up_black_24dp.svg');
  width: 24px;
  height: 24px;
}

  #togglemute.muted {
    background: url('img/ic_volume_off_black_24dp.svg');
  }*/

/* MOBILE */
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) and (max-width: 700px){
      #vrview{
          display:none;
      }
      .lsplayer-frame{
        display: inline;
     }
}

/* DESKTOP */
@media screen and (min-width: 700px) {
  iframe {
    height: 100vh;
    width: 100%;
  }
  .lsplayer-frame{
        display: none;
     }

  h1, h2, p {
    width: 700px;
    margin: 1rem auto;
  }

  #controls {
    width: 700px;
  }
}
